@font-face {
  font-family: "Drift Wood";
  src: local("Driftwood"),
    url("../public/fonts/Driftwood.ttf") format("truetype");
}

#AppContainer {
  background: url("../public/river_background2.jpg") no-repeat center center
    fixed;
  background-size: cover; /* Ensures the background covers the entire container */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid black;
  padding: 0;
  margin: 0;
  overflow: hidden; /* Hides the overflow content */
  display: flex;
  justify-content: center;
  h1 {
    font-family: "Drift Wood", sans-serif;
    font-size: 60px;
  }
  .Lab {
    background-color: white;
    border: 10px solid rgb(94, 26, 26);
    width: 50%;
    height: 50%;
    position: absolute;
    top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "dish info";
    place-items: center;
    #dish {
      position: relative;
      grid-area: dish;
    }
    #info {
      grid-area: info;
    }
  }
  #Toolbar {
    border: 10px solid rgb(94, 26, 26);
    background-color: white;
    position: absolute;
    bottom: 10%;
    // left: 25%;
    // justify-content: center;
    button {
      height: 6rem;
      width: 6rem;
      background-size: contain;
    }
    #Net {
      background-image: url("../public/net_icon.png");
      background-color: white;
      margin: 5px;
    }

    #Help {
      background-image: url("../public/help_icon.png");
      background-color: white;
      margin: 5px;
    }

    #Stars {
      background-image: url("../public/star_icon.png");
      margin: 5px;
    }
  }
}
